.pie {
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px ;

}

.pie p {
    color: var(--blanco);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

